<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.AdminMapper">
	<select id="crowdStoreListData" resultType="CrowdStoreVO" parameterType="hashmap">
		SELECT wsno, main_poster, goods_title, score, maker_name, price, num
		FROM (SELECT wsno, main_poster, goods_title, score, maker_name, price, rownum as num
		FROM (SELECT wsno, main_poster, goods_title, score, maker_name, price
		FROM wadiz_store_detail WHERE scno=#{scno} ORDER BY wsno ASC))
		WHERE num BETWEEN #{start} AND #{end} 
	</select>
	<select id="crowdFundListData" resultType="CrowdFundVO" parameterType="hashmap">
		SELECT wfno, mainimg, fcname, fcno, tag, ftitle, achieve_rate, num
		FROM (SELECT wfno, mainimg, fcname, fcno, tag, ftitle, achieve_rate, rownum AS num
		FROM (SELECT wfno, mainimg, fcname, fcno, tag, ftitle, achieve_rate
		FROM WADIZ_FUND_DETAIL WHERE fcno=#{fcno} ORDER BY wfno ASC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
</mapper>
