<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.sist.mapper.FundMapper">
 	<select id="fundListData" resultType="FundVO" parameterType="hashmap">
 		SELECT wfno,mainimg,fcno,ftitle,endday,cum_amount,achieve_rate,makername
 		FROM wadiz_fund_detail
 		<if test="fcno==0">
 		ORDER BY achieve_rate desc
 		</if>
 		<if test="fcno==1">
 		WHERE fcno=1
 		</if>
 		<if test="fcno==2">
 		WHERE fcno=2
 		</if>
 		<if test="fcno==3">
 		WHERE fcno=3
 		</if>		
 		<if test="fcno==4">
 		WHERE fcno=4
 		</if> 		
 		<if test="fcno==5">
 		WHERE fcno=5
 		</if> 		
 		<if test="fcno==6">
 		WHERE fcno=6
 		</if> 		
 		<if test="fcno==7">
 		WHERE fcno=7
 		</if>	
 		<if test="fcno==8">
 		WHERE fcno=8
 		</if> 		
 		<if test="fcno==9">
 		WHERE fcno=9
 		</if> 		
 		<if test="fcno==10">
 		WHERE fcno=10
 		</if> 		
 		<if test="fcno==11">
 		WHERE fcno=11
 		</if> 		
 		<if test="fcno==12">
 		WHERE fcno=12
 		</if> 		
 		<if test="fcno==13">
 		WHERE fcno=13
 		</if>
 		and acno=1 and rewardOk=1
 	</select>
 	 	<select id="fundDetailData" resultType="FundVO" parameterType="int">
	    SELECT wfno,acno,mainimg,detailimg,tag,fcname,ftitle,fsubtitle,achieve_rate,cum_amount,parti_count,jjim,support,
	    makername,makerphoto,makeremail,makertel,makerhomepage,makerinsta,makerfacebook,makertwitter
	    FROM wadiz_fund_detail
	    WHERE wfno=#{wfno} 
  	</select>
  	<select id="fundRewardList" resultType="FundRewardVO" parameterType="int">
	  	SELECT d.wfno as wfno,d.acno as acno,r.rno as rno,r.rprice as rprice,r.rname as rname,r.rcont as rcont,r.delfee as delfee,r.delstart as delstart,r.limitq as limitq,r.curq as curq
	  	FROM wadiz_funding_reward r,wadiz_fund_detail d
	  	WHERE d.wfno=#{wfno} and r.wfno=d.wfno
  	</select>
  	<!--@Select("SELECT wfno,mainimg,fcname,ftitle,openday,endday,aim_amount,makerphoto,makername,id,rewardok,num "
			+ "FROM (SELECT wfno,mainimg,fcname,ftitle,openday,endday,aim_amount,makerphoto,makername,id,rewardok,rownum as num "
			+ "FROM (SELECT /*+ INDEX_ASC(fundmaking fm_wfno_pk)*/wfno,mainimg,fcname,ftitle,openday,endday,aim_amount,makerphoto,makername,id,rewardok "
			+ "FROM fundmaking WHERE id=#{id} AND rewardok=1)) "
			+ "WHERE num BETWEEN #{start} AND #{end}")-->
  	<select id="projectListData" resultType="FundVO" parameterType="hashmap">
  		SELECT wfno,mainimg,fcname,ftitle,openday,endday,aim_amount,makerphoto,makername,achieve_rate,num 
  		FROM (SELECT wfno,mainimg,fcname,ftitle,openday,endday,aim_amount,makerphoto,makername,achieve_rate,rownum as num
  		FROM (SELECT /*+ INDEX_ASC(wadiz_fund_detail wfd_wfno_pk)*/wfno,mainimg,fcname,ftitle,openday,endday,aim_amount,makerphoto,makername,achieve_rate 
  		FROM wadiz_fund_detail WHERE rewardok=1 AND acno=#{acno} AND id=#{id} ORDER BY openday ASC
  		)) 
  		WHERE num BETWEEN #{start} AND #{end}
  	</select>
  	<update id="fundTasteInsert" parameterType="hashmap">
        MERGE INTO wadiz_taste wt
        USING (SELECT #{id} AS id, #{fcname} AS fcname FROM dual) src
        ON (wt.id = src.id AND wt.fcname = src.fcname)
        WHEN MATCHED THEN
            UPDATE SET wt.taste_num = wt.taste_num + 1
        WHEN NOT MATCHED THEN
            INSERT (id, fcname, taste_num) VALUES (src.id, src.fcname, 1)
    </update>
 </mapper>