<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.MemberMapper">
	<select id="memberIdCheck" resultType="int" parameterType="String">
	select count(*) from wadiz_member where id=#{id}
	</select>
	<select id="memberEmailCheck" resultType="int" parameterType="String">
	select count(*) from wadiz_member where email=#{email}
	</select>
	<select id="memberPhoneCheck" resultType="int" parameterType="String">
	select count(*) from wadiz_member where phone=#{phone}
	</select>
	<insert id="memberJoin" parameterType="memberVO">
	INSERT INTO wadiz_member(no,id,pwd,name,sex,birthday,email,post,addr1,addr2,phone,content,admin,regdate,point) 
	VALUES(wm_no_seq.nextval,#{id},#{pwd},#{name},#{sex},#{birthday},#{email},#{post},#{addr1},#{addr2},#{phone},#{content},'n',SYSDATE,3000)
	</insert>
	<select id="memberLogin" resultType="memberVO" parameterType="String">
	select pwd,name,sex,authStatus from wadiz_member where id=#{id}
	</select>
	<update id="authKeyUpdate" parameterType="hashmap">
	update wadiz_member set authkey=#{authkey} WHERE email=#{email}
	</update>
	<update id="AuthStatusUpdate" parameterType="hashmap">
	update wadiz_member set authstatus=1
	WHERE email=#{email} AND authkey=#{authkey}
	</update>
	<select id="memberFindID" resultType="String" parameterType="String">
	SELECT CONCAT(SUBSTR(id, 1, 4), RPAD('*', LENGTH(id) - 4, '*')) FROM wadiz_member WHERE email=#{email}
	</select>
	<update id="pwdUpdate" parameterType="hashmap" >
	update wadiz_member set pwd=#{pwd} where email=#{email}
	</update>
</mapper>
