<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.MyPageMapper">
	<select id="myInfo" resultType="memberVO" parameterType="String">
    SELECT m.*, p.*
    FROM wadiz_member m
    LEFT JOIN wadiz_member_profile p ON m.ID = p.ID
    WHERE m.ID = #{id}
	</select>
	<update id="myInfoUpdate" parameterType="memberVO">
	update wadiz_member set name=#{name}, email=#{email}, phone=#{phone} where id=#{id}
	</update>
	<update id="myProfileUpdate" parameterType="memberVO">
	update wadiz_member_profile set profile_name=#{profile_name}, profile_size=#{profile_size}, profile_url=#{profile_url} where id=#{id}	
	</update>
</mapper>