<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.MyPageMapper">
	<select id="myInfo" resultType="memberVO" parameterType="String">
    SELECT m.*, p.*
    FROM wadiz_member m
    LEFT JOIN wadiz_member_profile p ON m.ID = p.ID
    WHERE m.ID = #{id}
	</select>
	<update id="myInfoUpdate" parameterType="memberVO">
	update wadiz_member set name=#{name}, email=#{email}, phone=#{phone}, nickname=#{nickname}, content=#{content} where id=#{id}
	</update>
	<update id="myProfileUpdate" parameterType="memberVO">
	update wadiz_member_profile set profile_name=#{profile_name}, profile_size=#{profile_size}, profile_url=#{profile_url} where id=#{id}	
	</update>
	<update id="passwordUpdate" parameterType="memberVO">
	update wadiz_member set pwd=#{pwd} where id=#{id}
	</update>
	<!-- 펀딩 -->
	<!-- 참여 펀딩 건수 -->
	<select id="myFundCount" parameterType="String" resultType="int">
		select count(*) from wadiz_buy_info where id=#{id}
	</select>
	<!-- 펀딩 구매 정보 -->
	<select id="myFundInfo" parameterType="String" resultType="BuyVO">
		select * from wadiz_buy_info where id=#{id}
	</select>
	<!-- 참여 펀딩 디테일 -->
	<select id="myFundDetail" parameterType="String" resultType="BuyVO">
		select wbi.bino,wbi.acno,wbi.wfno,wbi.wsno,wbi.rno,wbi.rname,wfd.fcname,wfd.makername,wfd.endday,
		wbi.tprice,wbi.gcount,to_char(wbi.regdate,'yyyy-MM-dd') as myday,
		wbi.rprice,wbi.rcont,wbi.delfee,wbi.delstart,wbi.usepoint
		from wadiz_buy_info wbi
		JOIN wadiz_fund_detail wfd ON wbi.wfno=wfd.wfno
		where wbi.id=#{id}
	</select>
	<select id="myFollowing" parameterType="String" resultType="SupVO">
		select wm.nickname, wmp.profile_url, wm.id, wsf.followid
		from wadiz_member wm
		join wadiz_member_profile wmp on wm.id = wmp.id
		join wadiz_sup_follow wsf on wm.id = wsf.followid
		where wsf.id = #{id}
	</select>
</mapper>