<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.sist.vo.CrowdStoreVO" alias="CrowdStoreVO"/>
		<typeAlias type="com.sist.vo.CrowdFundVO" alias="CrowdFundVO"/>
		<typeAlias type="com.sist.vo.ProfileVO" alias="ProfileVO"/>
		<typeAlias type="com.sist.vo.NoticeVO" alias="NoticeVO"/>
		<typeAlias type="com.sist.vo.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.sist.vo.FundVO" alias="FundVO"/>
		<typeAlias type="com.sist.vo.StoreVO" alias="StoreVO"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/sist/mapper/main-mapper.xml"/>
		<mapper resource="com/sist/mapper/notice-mapper.xml"/>
		<mapper resource="com/sist/mapper/member-mapper.xml"/>
		<mapper resource="com/sist/mapper/fund-mapper.xml"/>
		<mapper resource="com/sist/mapper/store-mapper.xml"/>
	</mappers>
</configuration>